<div class="d-flex flex-wrap text-center justify-content-center">
    <div class="card text-bg-light mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-header">Attendance</div>
        <a href="#" style="color: black" onclick="location.href='/attendance'">
            <div class="card-body">
                <h5 class="card-title">Hostel Attendance made easy</h5>
                <p class="card-text">Use only phone for the attendance
                </p>
            </div>
        </a>
    </div>
    <div class="card text-bg-primary mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-header">
            Apply for New Room
        </div>
        <a href="#" id="card" onclick="location.href='/newRoom'">
            <div class="card-body">
                <h5 class="card-title">Check available Rooms</h5>
                <p class="card-text">Fill up a form to apply for a new enviromment.</p>
            </div>
        </a>
    </div>
    <div class="card text-bg-danger mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-header">Logde Complains</div>
        <a href="#" id="card" onclick="location.href='/complaint'">
            <div class="card-body">
                <h5 class="card-title">Get your Room Fixed</h5>
                <p class="card-text">Fill up the form to file a complaint and get our services within 24hrs</p>
            </div>
        </a>
    </div>
    <div class="card text-bg-success mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-header">
            Apply for Leave Application
        </div>
        <a href="#" style="color: white" id="card" onclick="location.href='/leave'">
            <div class="card-body">
                <h5 class="card-title">Just Fill and Go!</h5>
                <p class="card-text">No more using papers, get verified within the portal.</p>
            </div>
        </a>
    </div>
    
    <div class="card text-bg-warning mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-header">Mess Info</div>
        <a href="#" style="color: black" onclick="location.href='/messInfo'">
            <div class="card-body">
                <h5 class="card-title">Get details about Mess Food</h5>
                <p class="card-text">The developer is not responsible for the change of mess food without prior notice
                </p>
            </div>
        </a>
    </div>
    <div class=" mx-3 card text-bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Events</div>
        <a href="#" style="color: black" onclick="location.href='/messInfo'">
            <div class="card-body">
                <h5 class="card-title">Know about Hostel Events</h5>
                <p class="card-text">Stay updated with latest Events organised by Hostel</p>
            </div>
        </a>
    </div>
    <div class=" mx-3 card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Staffs</div>
        <a href="#" style="color: black" onclick="location.href='/messInfo'">
            <div class="card-body">
                <h5 class="card-title">Know about Hostel staffs</h5>
                <p class="card-text">Get in touch with Hostel Staffs </p>
            </div>
        </a>
    </div>
    
</div>