<footer class="bg-light d-flex justify-content-center my-3 text-lg-start  mx-auto">
    <div class="text-center p-3" id="footer">
        Build with &#10084;&#65039; by Pooranjoy
    </div>

</footer>