body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: blue;
}

#card {
    text-decoration: none;
    color: white;
}

#centered_div {
    width: 70%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    padding: .7rem;
    width: 100%;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
}